<div class="ui cards">
    <% @cards.each do |card| %>
      <a class="card" href="/<%= card.class.to_s.pluralize.downcase %>/<%= card.id %>">
        <div class="content">
          <h4 class="header">
            <%= @header.call card %>
          </h4>
          <div class="meta">
            <%= @meta.call card %>
          </div>
        </div>
      </a>
    <% end %>
    <a class="card new" href="/<%= @cards.first.class.to_s.pluralize.downcase %>/new">
      <div class="content">
        <h4 class="header">
          New
        </h4>
      </div>
    </a>
</div>
