<div class="ui container">
  <div class="ui padded segment">
    <h3 class="ui header">
      <%= @header %>
      <div class="detail-actions right floated">
        <a href="delete/<%= params[:id] %>" class="ui tiny  basic red floated button">
          Delete
        </a>
        <a href="edit/<%= params[:id] %>" class="ui tiny right floated button">
          Edit
        </a>
      </div>
    </h3>M
    <div class="ui divided very relaxed list">
      <% @facts.each do |header, description| %>
        <div class="item">
          <div class="content">
            <div class="header"><%= header %></div>
            <%= description %>
          </div>
        </div>
      <% end  %>
    </div>

    <%= @extra %>
  </div>
</div>
