<div class="ui container">
  <div class="ui padded segment">
    <h3 class="ui header">
      <%= @header %>
      <div class="detail-actions right floated">
        <a href="delete/<%= params[:id] %>" class="ui tiny  basic red floated button">
          Delete
        </a>
        <a href="edit/<%= params[:id] %>" class="ui tiny right floated button">
          Edit
        </a>
      </div>
    </h3>

    <%= @items = @facts
        erb :"partials/divided_list"
     %>

    <%= @extra %>
  </div>
</div>
