<div
  class="ui timer right floated"
  data-seconds="<%= @active_session&.duration_in_seconds&.floor %>"
  data-job-id="<%= @active_session&.job_id %>"
  data-playing="<%= not @active_session.nil? %>"
>
  <button class="toggle" <%= 'disabled' unless @jobs.present?  %>>
    <i class="ui icon play"></i>
    <i class="ui icon stop"></i>
  </button>
  <div class="text">
    <span class="job"></span>
    <span class="duration"></span>
  </div>
  <% if @jobs.present? %>
    <select class="job-select">
      <% @jobs.each do |job| %>
        <option data-id="<%= job.id %>" value="<%= job.id %>"><%= job.name %></option>
      <% end %>
    </select>
  <% else %>
    - no jobs -
  <% end %>
</div>
