<div class="ui container">
    <form class="ui padded segment form" method="post">
        <h3 class="ui header">
          Generate Invoice
          <button type="submit" class="ui tiny right floated button">
            Save
          </button>
        </h3>


        <div class="field">
          <label>
            Client
          </label>
          <select class="ui fluid dropdown" name="invoice[client_id]">
            <% @clients.each do |client| %>
              <option value="<%= client.id %>" <%= 'selected' if client.id == @invoice.client_id  %>>
                <%= client.name %>
              </option>
            <% end %>
          </select>
        </div>

        <div class="field">
          <label>
            Jobs
          </label>
          <select multiple class="ui fluid dropdown" name="job_ids[]">
            <% @jobs.each do |job| %>
              <option value="<%= job.id %>" <%= 'selected' if @invoice.job_ids.include?(job.id) %>>
                <%= job.name %>
              </option>
            <% end %>
          </select>
        </div>
    </form>
</div>
