<table class="ui celled table project-table">
  <thead>
    <tr>
      <th>Job</th>
      <th>Subtotal</th>
      <th>Tax 21%</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= money project.cost  %></td>
        <td><%= money project.tax %></td>
        <td><%= money project.cost_with_tax %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th></th>
      <th><%= money @invoice.subtotal %></th>
      <th><%= money @invoice.tax %></th>
      <th><%= money @invoice.total %></th>
    </tr>
  </tfoot>
</table>
