<div class="ui container">
  <div class="ui padded segment">
    <h3 class="ui header">
      Invoice <%= @invoice.no %>
      <div class="detail-actions right floated">
        <%= erb :"partials/edit_delete_buttons" %>

        <%=
          @action = 'Download'
          @extra_class = ''
          erb :"partials/action_button"
        %>
      </div>
    </h3>

    <%=
      @items = {
        'Client'   => @invoice.client.name,
        'Date'     => date(@invoice.date)
      }
      erb :"partials/divided_list"
     %>

    <%=
      @projects = @invoice.projects
      erb :"invoices/project_table"
     %>
  </div>
</div>
