<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/semantic.min.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/semantic.min.js"></script>
<script src="/timer.jquery.min.js"></script>
<script src="/timer.js"></script>

<div id="app">
    <div class="ui attached secondary menu top-menu">
      <% ['Sessions', 'Jobs', 'Clients', 'Invoices'].each do |label| %>
        <a class="item <%= 'active' if @path.include? label.downcase %>" href="/<%= label.downcase %>">
          <%= label %>
        </a>
      <% end %>

      <div
        class="ui timer right floated"
        data-seconds="<%= @session&.duration_in_seconds&.floor %>"
        data-job-id="<%= @session&.job_id %>"
      >
        <button class="toggle">
          <i class="ui icon play hidden"></i>
          <i class="ui icon stop hidden"></i>
        </button>
        <div class="text hidden">
          <span class="job"></span>
          <span class="duration"></span>
        </div>
        <select class="job-select hidden">
          <% @jobs.each do |job| %>
            <option data-id="<%= job.id %>" value="<%= job.id %>"><%= job.name %></option>
          <% end %>
        </select>
      </div>
    </div>

    <main>
      <%= yield %>
    </main>
</div>
