<!-- <%=

@cards = @sessions
@header = lambda do |session|
  day_of_month = session.start_date.strftime '%a %e %B'
  start_time = session.start_date.strftime '%H:%M'
  end_time = if session.end_date
               session.end_date.strftime '%H:%M'
             else
               'now'
             end


  "#{day_of_month} #{start_time} - #{end_time}"
end

@meta = lambda do |session|
  "<div>#{session.job}</div>"
  "<div>#{session.job}</div>"
end

%> -->

<div class="ui container">
  <div class="ui large feed">
    <% @sessions.each do |session| %>
      <div class="event">
        <div class="content">
          <div class="summary">
            <%= session.job.name %>
            <div class="date">
              <%= session.start_date.strftime '%a %e %B  %H:%M' %>
              -
              <%= session.end_date ? session.end_date.strftime('%H:%M') : 'now' %>
            </div>
          </div>
          <div class="meta">
            <i class="hourglass end icon"></i> <%= session.duration %> <br/>
            <i class="pencil icon"></i> <%= session.description %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
