<div class="ui container feed-container">
  <div class="ui large feed">
    <% @sessions.each do |session| %>
      <a class="event" href="/sessions/<%= session.id %>">
        <div class="content">
          <div class="summary">
            <%= session.job.name %>
            <div class="date">
              <%= session.start_date.strftime '%a %e %B  %H:%M' %>
              -
              <%= session.end_date ? session.end_date.strftime('%H:%M') : 'now' %>
            </div>
          </div>
          <div class="meta">
            <div class="duration">
              <i class="hourglass end icon"></i>
              <%= session.duration %>
            </div>
            <div class="description">
              <i class="pencil icon"></i>
              <%= session.description || '<span class="placeholder">no description</span>' %>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
