<div class="ui container">
    <form class="ui padded segment form" method="post">
        <%=
          @new = @client.new_record?
          @class = @client.class
          erb :"partials/form_header"
        %>

        <% ['Name', 'Address', 'City', 'Postcode'].each do |field| %>
         <div class="field">
            <label>
              <%= field %>
            </label>
            <input
              name="client[<%= field.downcase %>]"
              value="<%= @client.send(field.downcase.to_sym) %>"
              placeholder="<%= field %>">
          </div>
        <% end %>
    </form>
</div>
