<div class="ui container">
    <form class="ui padded segment form" method="post">
        <%=
          @new = @project.new_record?
          @class = @project.class
          erb :"partials/form_header"
        %>
        <div class="field">
          <label>Name</label>
          <input name="project[name]" value="<%= @project.name %>"/>
        </div>

        <div class="field">
          <label>Client</label>
          <select class="ui fluid dropdown" name="project[client_id]">
            <% @clients.each do |client| %>
              <option value="<%= client.id %>" <%= 'selected' if client.id == @project.client_id  %>>
                <%= client.name %>
              </option>
            <% end %>
          </select>
        </div>

      <div class="field">
        <label>Pricing</label>
        <div class="two fields">
          <div class="field">
            <input name="project[pricing_value]" value="<%= @project.pricing_value %>" placeholder="Price">
          </div>
          <div class="field">
            <select class="ui fluid dropdown" name="project[pricing_type]">
              <% ['Fixed', 'Hourly'].each do |pricing_type| %>
                <option
                  value="<%= pricing_type.downcase  %>"
                  <%= 'selected' if @project.pricing_type == pricing_type.downcase %>
                >
                  <%= pricing_type %>
                </option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
  </form>
</div>
