<div class="ui container feed-container">
  <div class="ui large feed">
    <% @sessions.each do |session| %>
      <a class="event" href="/sessions/<%= session.id %>">
        <div class="content">
          <div class="summary">
            <%= session.job.name %>
            <div class="date">
              <%= session_span session %>
            </div>
          </div>
          <div class="meta">
            <div class="duration">
              <i class="hourglass end icon"></i>
              <span>
                <%= session.duration %>
              </span>
            </div>
            <div class="description">
              <i class="pencil icon"></i>
              <span class="<%= 'placeholder' unless session.description %>">
                <%= session.description || 'no description' %>
              </span>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
