<div class="ui container">
    <form class="ui padded segment form" method="post">
        <%= @class = Session; erb :"partials/form_header" %>

         <div class="field">
           <label>Paid session?</label>
            <div class="ui slider checkbox">
              <input type="checkbox" name="session[paid?]" <%= 'checked' if @session.paid? %>>
              <label></label>
            </div>
          </div>

          <div class="field">
            <label>
              Date
            </label>
          <div class="two fields">
            <div class="field">
              <input class="air" data-timepicker="true" name="session[start_date]" value="<%= html_datetime(@session.start_date || Time.now) %>">
            </div>
            <div class="field">
              <input class="air" data-timepicker="true" name="session[end_date]" value="<%= html_datetime(@session.end_date || Time.now) %>">
            </div>
          </div>
        </div>


         <div class="field">
            <label>
              Description
            </label>
            <textarea
              name="session[description]"
              placeholder="Description"
            ><%= @session.description %></textarea>
          </div>
    </form>
</div>
